@import "theme.css";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Geneva, Verdana, sans-serif;
}

.body {
  max-width: 90vh;
}

#board {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-rows: 1fr;
  gap: 2px 2px;

  & div {
    aspect-ratio: 1/1;
    background-color: var(--board-color);
    &.cell {
      caret-color: transparent;
    }
    &.cell-1 {
      background-color: var(--double-letter-color);
      /* &::after { content: "2L"; } */
    }
    &.cell-2 {
      background-color: var(--double-word-color);
      /* &::after { content: "2W"; } */
    }
    &.cell-3 {
      background-color: var(--triple-letter-color);
      /* &::after { content: "3L"; } */
    }
    &.cell-4 {
      background-color: var(--triple-word-color);
      /* &::after { content: "3W"; } */
    }
  }
}
