html, body {
  margin: 0;
  padding: 0;
}

#board {
  grid-template-columns: repeat(15, 1fr);
  grid-auto-rows: 1fr;
  gap: 1px 1px;

  & div {
    background-color: red;
  }
}

textarea {
  resize: none;
}

canvas {
  width: 100%;
  max-width: 90vh;
  margin: 0 auto;
  display: block;
}
