html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#board {
  max-width: 90vh;
  margin: 0 auto;
  padding: 0.75rem;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-rows: 1fr;
  gap: 1px 1px;

  & div {
    aspect-ratio: 1/1;
    background-color: #d0d6b5;
    &.cell-1 {
      background-color: #9dbf9e;
    }
    &.cell-2 {
      background-color: #f9b5ac;
    }
    &.cell-3 {
      background-color: #ee7674;
    }
    &.cell-4 {
      background-color: #987284;
    }
  }
}

textarea {
  resize: none;
}

canvas {
  width: 100%;
  max-width: 90vh;
  margin: 0 auto;
  display: block;
}
